.vs/ImageTool/v16/ipch/AutoPCH/5743a57be580295b/CTRANSLATEDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/167f398c10e1aa7e/IMAGETOOL.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/5781a4f2de2bb4a3/CHISTOGRAMDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/97b047adc9a721c/CGAUSSIANDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/36b798bb6e5c3f95/MAINFRM.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/4cb8a7834fb4487c/CDIFFUSIONDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/cfd04f871def7f50/IMAGETOOLDOC.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/ec9bcc88b39b01f7/CCANNYEDGEDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/77142bf5120d9213.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/94f92f2d892e76e3/CRESIZEDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/d5e6241e3a220c3c/IMAGETOOL.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/10ca5b9b046de6f5/CHISTOGRAMDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/ebca81ea41fd3fd8/IMAGETOOLDOC.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/fc783cfb9cba3ca5.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/abd19959f2b7018c/CGAMMACORRECTIONDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/7f05cd83a8061253/IMAGETOOLVIEW.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/70ec63dfc3c07646/IMAGETOOLDOC.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/75aa694280df24a6.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/d0ea673e961096aa/CADDNOISEDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/582dea4e54afbd51/CHARRISCORNERDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/2e1cabea98e8d6e2/IPPGEOMETRY.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/a4ac013517250c6c/CADDNOISEDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/4100139b5ecb45e6/CGAUSSIANDLG.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/d0b62a4eaea58120/IMAGETOOLDOC.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/8b4d19cb4707edb3/IPPCONVERT.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/5ce7f6121315506e/IMAGETOOLDOC.ipch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/ipch/AutoPCH/83833ab8aa920077/IPPDIB.ipch filter=lfs diff=lfs merge=lfs -text
ImageTool/Debug/ImageTool.pch filter=lfs diff=lfs merge=lfs -text
.vs/ImageTool/v16/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
